.contactSection {
    width: 100%;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    place-items: center;
    border-bottom: 1px solid #717171;
}

.heading {
    font-size: 40px;
    text-align: center;
    font-family: var(--font);
    color: var(--text);
    margin-bottom: 20px;
}

.desc {
    font-size: 20px;
    text-align: center;
    font-family: var(--font);
    color: var(--text);
    margin-bottom: 20px;
}

.contacts {
    font-size: 16px;
    text-align: center;
    font-family: var(--font);
    color: var(--text);
    margin-bottom: 20px;
}

.contacts span {
    padding: 5px;
    background-color: rgba(255, 193, 7, 0.3);
    border-radius: 10px;
}

.iconLinks {
    display: flex;
    gap: 25px;

}

.iconLinks i {
    color: var(--text);
    font-size: 30px;
    transition: 0.3s ease;
}

.iconLinks i:hover {
    color: var(--secondary);
}