.SkillsSection{
    width: 100%;
    padding-inline: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #717171;
}

.sectionHeading{
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font);
    margin-bottom: 30px;
    color: var(--text);
    text-align: center;
}

.skillHeadings{
    font-size: 20px;
    font-family: var(--font);
    color: var(--text);
    margin-bottom: 15px;
}

.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    
    gap: 15px;
}

.skills{
    color: var(--text);
    font-family: var(--font);
    font-size: 16px;
    background-color: rgba(92, 207, 92, 0.3);
    padding: 10px;
    border-radius: 15px;
}